/* CSS Document */
/*-----fonts---*/
/*-----fonts---*/
@font-face {
  font-family: "bits-r";
  src: url("../fonts/bitsumishi-regular.woff2"), url("../fonts/bitsumishi-regular.woff");
  font-display: swap;
}
.bits-r {
  font-family: "bits-r";
}

:root {
  --bits-r: bits-r;
}

@font-face {
  font-family: "poppins-r";
  src: url("../fonts/poppins-regular.woff2"), url("../fonts/poppins-regular.woff");
  font-display: swap;
}
.poppins-r {
  font-family: "poppins-r";
}

:root {
  --poppins-r: poppins-r;
}

@font-face {
  font-family: "poppins-b";
  src: url("../fonts/poppins-bold.woff2"), url("../fonts/poppins-bold.woff");
  font-display: swap;
}
.poppins-b {
  font-family: "poppins-b";
}

:root {
  --poppins-b: poppins-b;
}

@font-face {
  font-family: "poppins-md";
  src: url("../fonts/poppins-medium.woff2"), url("../fonts/poppins-medium.woff");
  font-display: swap;
}
.poppins-md {
  font-family: "poppins-md";
}

:root {
  --poppins-md: poppins-md;
}
