.Practisec .InnerContainWrapper {
    padding-bottom: 0;
}

.Practisec .Content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.Practisec .Content > * {
    margin: 1rem 0;
}

.Practisec .Content h3,
.Practisec .Content h4 {
    font-family: "bits-r";
}

.Practisec .Content h3 {
    font-size: 2rem;
}

.Practisec .Content .linebtn a {
  color: #1e1b1c;
  border-bottom: 6px solid var(--site-color-1);
  transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.Practisec .Content .linebtn a:hover {
  border-bottom: 6px solid var(--site-color-2);
}

.CardWrap {
    background-color: var(--site-color-1);
}

.CardWrap .InnerContainWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.CardWrap article {
    flex: 1 0 300px;
    background-color: #fff;
    margin: 10px;
    padding: 35px;
    display: flex;
    flex-direction: column;
}

.CardWrap article.dummy {
    visibility: hidden;
    padding: 0;
}

.CardWrap article .CardTitle {
    font-family: var(--poppins-b);
    font-size: 20px;
    text-transform: uppercase;
    color: var(--site-color-1);
    margin-bottom: 20px;
}
