/* CSS Document */
/*-----fonts---*/

/*-----fonts---*/
// font-face mixin
@mixin font-face($font-name, $path) {
  @font-face {
    font-family: quote($font-name);
    // src: url($path + ".ttf");
    src: url($path + ".woff2"), url($path + ".woff");
    font-display: swap;
  }
  .#{$font-name} {
    font-family: quote($font-name);
  }
  :root {
    --#{$font-name}: #{$font-name};
  }
}

@include font-face(bits-r, "../fonts/bitsumishi-regular");
@include font-face(poppins-r, "../fonts/poppins-regular");
@include font-face(poppins-b, "../fonts/poppins-bold");
@include font-face(poppins-md, "../fonts/poppins-medium");
