.overlay2,
.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999 !important;
  width: 100%;
}
.boxclose,
.boxclose2 {
  position: absolute;
  top: 5px !important;
  right: 10px !important;
  z-index: 999999 !important;
}
.boxclose i,
.boxclose2 i {
  color: #000;
  font-size: 24px;
}
.box,
.box2 {
  position: absolute;
  top: 35px;
  left: 50%;
  color: #666;
  z-index: 999999 !important;
  width: 900px;
  margin-left: -450px;
  background: #f6f6f6;
}

.CloseImg {
  float: right;
  margin: 8px 8px 0px 0px;
}
.OverlayWrapper {
  padding: 30px 30px 10px;
  text-align: left;
  box-sizing: border-box;
}
.box h3,
.box2 h3 {
  color: #04396c;
  font-size: 32px;
  line-height: 42px;
  font-family: "playfair_displayregular";
  text-align: center;
  margin-bottom: 10px;
}

#FormSubTitle {
  color: #607aae;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  font-family: "gotham_htfbold";
}

.overlay2,
.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999 !important;
  width: 100%;
}

.boxclose,
.boxclose2 {
  position: absolute;
  top: 5px !important;
  right: 10px !important;
  z-index: 999999 !important;
}

.boxclose i,
.boxclose2 i {
  color: #000;
  font-size: 24px;
}

.box,
.box2 {
  position: absolute;
  top: 35px;
  left: 50%;
  color: #666;
  z-index: 999999 !important;
  width: 400px;
  margin-left: -200px;
  background: #f6f6f6;
}

.CloseImg {
  float: right;
  margin: 8px 8px 0px 0px;
}

.OverlayWrapper {
  padding: 30px 30px 10px;
  text-align: left;
  box-sizing: border-box;
}

.box h3,
.box2 h3,
#mc_embed_signup h2 {
  text-align: center;
  margin-bottom: 10px !important;
  color: var(--site-color-1);
  font-size: clamp(25px, 6vw, 35px) !important;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: var(--site-font-b);
  letter-spacing: 2px;
}

.box h4,
.box2 h4 {
  text-align: center;
  margin-bottom: 10px;
  color: var(--site-color-1);
  font-size: calc(30px / 1.5);
  line-height: 1;
  text-transform: uppercase;
  font-family: var(--site-font-b);
}
